MONGO_INITDB_ROOT_USERNAME=username
MONGO_INITDB_ROOT_PASSWORD=username_password
MONGO_INITDB_DATABASE=dbname
MONGODB_DATA_DIR=/data/db
MONDODB_LOG_DIR=/dev/null
MONGODB_DATABASE=dbname
MONGODB_USERNAME=dbusername
MONGODB_PASSWORD=password
MONGODB_HOSTNAME=hostname
FLASK_ENV=development
FLASK_SECRET_KEY=your_secret_key_here
